<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;strong_pull - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/strong_pull.html#proc">Proc Details</a></header>
<main>
<h1>strong_pull <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/strong_pull.html">strong_pull</a></aside>
        
    
            <a href="https://github.com/tgstation/tgstation/blob/def63eae98df1564c4fec81af926494ea60a5ac4/code/datums/components/strong_pull.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;strong_pull.dm 6"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/strong_pull.html#proc/lost_strong_grip">lost_strong_grip</a></th><td>Called when the hooked object is no longer pulled, and unhooks it</td></tr>
            <tr><th><a href="datum/component/strong_pull.html#proc/on_pull">on_pull</a></th><td>Called when the parent grabs something, adds signals to the object to reject interactions</td></tr>
            <tr><th><a href="datum/component/strong_pull.html#proc/reject_further_pulls">reject_further_pulls</a></th><td>Signal for rejecting further grabs</td></tr></table><h2 id="proc">Proc Details</h2><h3 id="proc/lost_strong_grip"><aside class="declaration">proc </aside>lost_strong_grip<aside>(/<a href="datum.html">datum</a>/source, /<a href="atom.html">atom</a>/<a href="atom/movable.html">movable</a>/last_puller) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/def63eae98df1564c4fec81af926494ea60a5ac4/code/datums/components/strong_pull.dm#L37">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;strong_pull.dm 37"/></a></aside>
        </h3>
        <p>Called when the hooked object is no longer pulled, and unhooks it</p><h3 id="proc/on_pull"><aside class="declaration">proc </aside>on_pull<aside>(/<a href="datum.html">datum</a>/source, /<a href="atom.html">atom</a>/<a href="atom/movable.html">movable</a>/pulled, state, force) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/def63eae98df1564c4fec81af926494ea60a5ac4/code/datums/components/strong_pull.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;strong_pull.dm 17"/></a></aside>
        </h3>
        <p>Called when the parent grabs something, adds signals to the object to reject interactions</p><h3 id="proc/reject_further_pulls"><aside class="declaration">proc </aside>reject_further_pulls<aside>(/<a href="datum.html">datum</a>/source, /<a href="mob.html">mob</a>/<a href="mob/living.html">living</a>/puller) 
        
    
            <a href="https://github.com/tgstation/tgstation/blob/def63eae98df1564c4fec81af926494ea60a5ac4/code/datums/components/strong_pull.dm#L29">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;strong_pull.dm 29"/></a></aside>
        </h3>
        <p>Signal for rejecting further grabs</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/tgstation/tgstation/tree/def63eae98df1564c4fec81af926494ea60a5ac4">def63ea</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.0</a></footer>
</body>
</html>
